<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jtribe.training"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activity.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StockListActivity" android:label="@string/app_name" />
        <activity android:name=".activity.StockWebviewActivity" android:label="@string/app_name" />
		<service android:name=".service.StockCollectorService" android:process=":remote">
			<intent-filter>
				<action android:name="jtribe.training.service.StockCollectorService" />
			</intent-filter>
		</service>
		<receiver android:name=".service.BootReceiver">
		  <intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED">
		    </action>
		  </intent-filter>
		</receiver>
		<receiver android:name=".service.WidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_provider" />
		</receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>